#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #9fdb77;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  padding: 16px;
}

.search-bar {
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  gap: 8px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: forestgreen;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: darkgreen;
  box-shadow: 0 0 10px rgba(47, 211, 113, 0.7);
}

.results-container {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  min-height: 200px;
  margin-top: 16px;
}

.loading {
  text-align: center;
  padding: 16px;
}

.error {
  color: red;
}
.result-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.result-item:hover {
  box-shadow: -3px 4px 8px 0px rgba(110, 219, 115, 0.58);
}

.people-title,
.header-title {
  flex: 1;
  font-weight: bold;
}

.people-gender,
.header-director {
  flex: 1;
  text-align: right;
  color: gray;
}

.result-item p {
  color: #666;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}
.pageNumber{
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.prev-btn:hover{
  background-color: darkgreen;
  color: white;
  box-shadow: 0 0 10px rgba(47, 211, 113, 0.7);
}
.next-btn:hover {
  background-color: darkgreen;
  color: white;
  box-shadow: 0 0 10px rgba(47, 211, 113, 0.7);
}

.error-container {
  padding: 16px;
  color: red;
  background-color: #fdd;
  border: 1px solid red;
  border-radius: 8px;
}

.error-container button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.error-button:hover {
  background-color: #b71c1c;
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.7);
}
